---
name: Checks

on: [push]

jobs:
    test-lint:
        name: Test and Lint
        runs-on: ubuntu-latest
        steps:
            - name: Login to Docker Hub
              uses: docker/login-action@v1
              with:
                  username: ${{ secrets.DOCKERHUB_USER }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Checkout
              uses: actions/checkout@v3
            # - name: Unit Test
            #   run: docker-compose run --rm client sh -c "yarn run test"
            - name: Cypress run
              uses: cypress-io/github-action@v5
              with:
                  build: sudo yarn run build
                  start: sudo yarn run preview -- --port 8000
                  browser: chrome
                  working-directory: ./react-app
            - name: Lint
              run: docker-compose run --rm client sh -c "yarn run lint"
