---
name: Checks

on: [push]

jobs:
    test-lint:
        name: Test and Lint
        runs-on: ubuntu-20.04
        steps:
            - name: Login to Docker Hub
              uses: docker/login-action@v1
              with:
                  username: ${{ secrets.DOCKERHUB_USER }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Checkout
              uses: actions/checkout@v2
            - name: Unit Test
              run: docker-compose run --rm client sh -c "yarn run test"
            - name: E2E Test
              run: docker run -it -v $PWD/react-app:/e2e -w /e2e cypress/included:12.12.0
            - name: Lint
              run: docker-compose run --rm client sh -c "yarn run lint"
