---
name: Checks

on: [push]

jobs:
    test-lint:
        name: Test and Lint
        runs-on: ubuntu-20.04
        steps:
            - name: Login to Docker Hub
              uses: docker/login-action@v1
              with:
                  username: ${{ secrets.DOCKERHUB_USER }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Checkout
              uses: actions/checkout@v2
            # - name: Unit Test
            #   run: docker-compose run --rm client sh -c "yarn run test"
            - name: Cypress run
              uses: cypress-io/github-action@v5
              with:
                  working-directory: ./react-app
                  build: npm run build
                  start: npm start
            - name: Lint
              run: docker-compose run --rm client sh -c "yarn run lint"
